################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AbletonRemoteScripts11/v14/.suo
/.vs/AbletonRemoteScripts11/v15/.suo
/.vs/AbletonRemoteScripts11/v16/.suo
